.App {
  text-align: center;
  font-family: sans-serif;
}

/* nav {
  padding: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
} */

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.logo-container {
  background-color: white;
  padding: 5px;
  border: 5px solid #d0665f;
  width: 25%;
}
.sdgs-image {
  width: 100%;
  display: block;
}
.header-placeholder {
  height: 50px;
  background-color: #d0665f;
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}
